.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/2e884ce2-da1c-4501-ab9a-10c534d30975/6973a9ea-02b2-4de9-9006-d7d224c9b75d/IN-en-20230327-popsignuptwoweeks-perspective_alpha_website_small.jpg") center no-repeat;
    background-size: cover;
}

.loginscreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8)100%);
}

.loginScreen__body {
    position: absolute;
    top: 21%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
    left: 0;
    right: 0;
}

.loginScreen__body>h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.loginScreen__body>h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen__body>h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.LoginScreen__logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    top: 15px;
}

.loginScreen__button {
    top: 20px;
    position: fixed;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    cursor: pointer;
    font-weight: 600;
    border: none;
}


.loginScreen__input>form>input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.loginscreen__getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    outline-width: 0;
    font-weight: 600;
    cursor: pointer;
}

.loginScreen__input {
    margin: 20px;
}